@font-face {
	font-family: 'title';
	src: url('./assets/ScrapItUp.ttf');
}

.header {
	position: relative;
	top: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
}

.scoreBoard {
	display: flex;
	gap: 5px;
	padding: 15px;
	font-size: 30px;
}

.title {
	font-family: title;
	font-size: 50px;
	padding-left: 15px;
}
